<header class="header" role="banner">

    {{#if template_file '===' 'pages/home'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}

    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>

    <div class="header-search">
        {{> components/common/search-box}}
    </div>
    
    {{> components/common/navigation}}

    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>

</header>
    